.livechat {
    margin-top: 10%;
    margin-left: 20px;
    background-color: white; 
    height: 630px;
    
}
.livechatHeader{
    border:1px solid white;
    margin-bottom: 1px;
    border-bottom: 2px solid  rgb(230, 230, 233);  
    padding: 15px;
    width: 100%;
    background-color: rgb(249, 251, 253);
}

.liveChatBody::-webkit-scrollbar {
    width: 10px;
   
}

.liveChatBody::-webkit-scrollbar-track {
    background-color: white;
    
}

.liveChatBody::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
 
}

.liveChatBody{
    overflow-y: scroll;  
    height: 380px;
    max-width: 650px;
    border:1px solid white;
    font-size: 0.8em;   
    margin-left: 20px;
}

.livechatHeader img{
    float: left;
}

.livechatHeaderSide{
    padding-left: 10%;
    margin-top: 5px;       
}




.liveChatOptions i{
padding-top: 10px;
padding-left: 10px;
border: 1px solid gray;
height: 35px;
width: 35px;
border-radius: 50%;
margin-left: 20px;
background-color: white;
color: gray;
float : right;

}
.chatWrapper{
    clear: both;
}
.sentOption{
   color: gray;
   float: left;
  margin-top: 5%;
   padding-left: 2%;
}

.replyOption{
    color: gray;
   float: right;
   margin-top: 5%;
   margin-right : 2%;  
    
}

.livechat textarea  
{
    font-size:12px;
    outline: none;
}
.readStyle{   
    color: gray;  
     display: inline;
    float: right;
    padding-top: 30px;
}



.hideImg{
    display: none;
}

.chatSentStytle{
    float: left;
    border: 1px solid rgba(11, 145, 255, 0.836);
    color: white;
    background-color: rgba(11, 145, 255, 0.836);
    max-width: 450px ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;    
    font-size: 0.90em;
    font-weight: 500;
    padding : 2%;
    margin-left: 2%;
    margin-top: 2%;
}


.chatReplyStyle{
    float: right;
    border: 1px solid gray;
    color: gray;
    background-color:white;
    word-wrap: break-word;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;   
    font-size: 0.90em;
    font-weight: 500;
    padding : 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.addOptions{
    position: absolute;
    bottom: 80px;
}

.liveChatReply{
    border-top  : 1px solid rgba(151, 148, 148, 0.3);
    margin-top: 5%;
    padding: 21px 20px;
    padding-left: 60px;
}

.liveChatReply img{
    border-radius: 50%;
    width: 5%;
    margin-left: 20px;
    margin-top: -24px;
}
.liveChatText{
    width: 90%;
    border : none;
}

.options{
    clear: both;
    float : left;
    background : rgba(11, 145, 255, 0.836);
    width: 30px;
    border-radius: 50%;
    padding: 8px;
    height: 30px;
    display: block;
    color: white;
    border: 1px solid rgba(11, 145, 255, 0.836);
    text-align: center;
    margin-top: 5px;
    
    
}

