
.chats{
    margin-left: 20px;
    margin-top: 15%;   
    
}

.chatBody{
    overflow-y: scroll;   
    max-height: 480px;
    
}
.chatBody::-webkit-scrollbar {
    width: 10px;
}

.chatBody::-webkit-scrollbar-track {
    background-color: white;
}

.chatBody::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
}

.cardHeader{
    padding-top: 2%;
}
  
.modifiedTime{
    float : right;
    font-size: 0.7em;
    
}

input[type="text"]
{
    font-size:12px;
}
.customcard{
    background-color: white;
    margin-bottom: 5%;
    padding : 4% 4%;
}

.customCardActive{
    margin-bottom: 5%;
    padding : 4% 4%;
    /* background-color: rgba(11, 145, 255, 0.836); */
    background-image: linear-gradient(to right, rgba(12, 112, 243, 0.5), rgba(7, 141, 252, 0.945));
    color:  white;
}
.chatHeader{
    width: auto;
}

.nameWrapper{
    float: left;
    padding-left: 10px;
}
.titleStyle{
    
    font-weight: bold;
    font-size: 14px;
}

.capStyle{
    color : rgba(7, 141, 252, 0.945);
    font-size: 10px;
    font-weight: bold ;
    
}
.imgStyle{
    float: left; 
    padding-right: 5px;
    border-radius: 50%;
     width: 40px ;
     height: 30px;
}

.active {
    width: 5px;
    height: 5px;
    background: green;
    border-radius: 50%;
    float: left;
    display: inline;
    
}

.away {
    width:  5px;
    height: 5px;
    background: rgb(255, 217, 48);
    border-radius: 50%;
    float: left;
}

.cardBody{
    display: block;
    clear: both;
    padding-top: 5%;
    padding-left: 2%;
    font-size: 0.75em;
    padding-right: 4px;
   
}
.chatHeader p {
    color: gray;
    font-size: small;
    font-weight: 600;
}
.chatHeader h4{
    font-weight: 500;
}

input::-webkit-input-placeholder {
    font-size: 13px;
 
}



.chatHeader button {
    font-size: 0.9em;
    padding: 10px;
}

.search{
    margin-bottom: 4%;
    padding: 16px;
    width: 320px;
    display: inline-block;
    padding-left: 25px;
    font-size: 16px;
}
.filter{
    display: inline-block;
    width: 140px;  
    font-size: 13px;
    color: gray;
    padding: 15px;
    margin-bottom: 4%;   
   padding-left: 25px;
}

.chtbtn{
    color: white;
    padding : 2px;
    background-image: linear-gradient(to right, rgba(12, 112, 243, 0.5), rgba(7, 141, 252, 0.945));
    /* background-color: rgba(11, 145, 255, 0.836);
    border-color: rgba(11, 145, 255, 0.836); */
}
.chatHeader h1 p{
   float: left;
}
.chatHeader button{
    float: right;

}

.disableFileAttached{
    display: none;
}

.disablePhotoAttached{
    display: none;
}

.fileAttached{
    border-radius: 50px;
    padding : 5px;
    border : 2px solid rgb(201, 224, 235);
    background : rgb(201, 224, 235);
    color: rgb(93, 156, 250);
    margin-left: 10px;
    font-size: 10px;
    font-weight: 500;
    filter: brightness(100%);
}

.photoAttached{
    border-radius: 50px;
    padding : 5px;
    border : 2px solid rgb(247, 184, 210);
    background : rgb(247, 184, 210);
    color: rgb(250, 93, 136);
    margin-left: 10px;
    font-size: 10px;
    font-weight: 500;
}

.msgNotificationOn{
    margin-top: 2px;
    font-size: 9px;
    color: white;
    border-radius: 50%;
    background: rgb(255, 63, 73);
    padding: 1px;
    float: right;
    width: 15px;
}

.msgNotificationOff{
    display: none;
}

